{
  "restApiUrl": "https://public-api.wordpress.com/rest/v1.1/sites/en.blog.wordpress.com",
  "apiVersion": "v1",
  "pageSize": "5",
  "disqusShortname": "frontpress",
  "overrides": {
    "title": "FrontPress - This title is overwritten by frontpress.json configuration file."
  }
}