{
  "restApiUrl": "https://www.vivadecora.com.br/revista/wp-json",
  "apiVersion": "v2",
  "pageSize": "5",
  "disqusShortname": "frontpress",
  "overrides": {
    "title": "FrontPress - This title is overwritten by frontpress.json configuration file."
  }
}