<div>	
	<p ng-if="vc.vm.isLoadingFullPost">carregando...</p>
	<div ng-if="vc.vm.isLoadingFullPost === false">		
		<full-post-title post="vc.vm"></full-post-title>				
		<post-date post="vc.vm"></post-date>		
		<featured-image post="vc.vm"></featured-image>				
		<full-post-content post="vc.vm"></full-post-content>		                
        <share url="post.slug" title="vc.vm.title"></share>
        <full-post-categories-list post="vc.vm"></full-post-categories-list>        
        <full-post-tags-list post="vc.vm"></full-post-tags-list>       
	</div>
</div>