<div>
	
	<p ng-if='vc.vm.isLoadingFullPost'>carregando...</p>

	<div ng-if='vc.vm.isLoadingFullPost === false'>
		<h1 ng-bind-html='vc.vm.title | trustAsHtml' ui-sref='post({postSlug:post.slug})'></h1>
		<p ng-bind='vc.vm.date | date :  "dd/MM/y"'></p>
		<img ng-src='{[{vc.vm.featuredImage}]}' style='max-width: 800px;'>
		<div ng-bind-html='vc.vm.content | trustAsHtml '></div>
        <share url="{{ post.slug }}" title="{{ vc.vm.title }}"></share>
        <full-post-tag-list></full-post-tag-list>
        <full-post-categories-list></full-post-categories-list>
	</div>

</div>
