<div>	
	<p data-ng-if="vc.vm.isLoadingFullPost">carregando...</p>
	<div data-ng-if="vc.vm.isLoadingFullPost === false">		
		<full-post-title data-post="vc.vm"></full-post-title>				
		<post-date data-post="vc.vm"></post-date>		
		<featured-image data-post="vc.vm"></featured-image>				
		<full-post-content data-post="vc.vm"></full-post-content>		                
		<share data-post="vc.vm"></share>
		<full-post-categories-list data-post="vc.vm"></full-post-categories-list>        
		<full-post-tags-list data-post="vc.vm"></full-post-tags-list>       
	</div>
</div>